// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border_color : #D4D42C;
$title_color: #98BF21;
$odd_color: #eaf2d3;

#movies {
	
	border:1px solid $border_color;
	border-collapse:collapse;
	
	th, tr, td {
		border:1px solid $border_color;
	}
	
	td {
		padding: 5px 5px;
	}
	
	.action {
		padding: 0px 10px;
	}
	
	.even { background-color:white;}
	.odd  { background-color:$odd_color; }
	
	th {
		background-color:$title_color;
		color:white;
	}
}

